<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/javascripts/lodash.js"></script>
    <script type="text/javascript" src="/javascripts/render.js"></script>
  </head>
  <body>
    <h1>Status</h1>
    <canvas id="canvas" width="1024px" height="768px"></canvas>
    <span id="error"></span>
  </body>
</html>
